<!-- Config file for the game -->

<config>

  <!-- Each module has its own node. Separate configuration -->
  <window>
    <resolution width="640" height="480" scale="1"  />
    <properties borderless='false'
                fullscreen='false' 
                resizable='false'
                windowed='false' />
    <name>My super awesome game with XML</name>
  </window>

  <file_system>
    <path>pinball.zip</path>
  </file_system>
  
</config>